@import "../style.css";

nav {
  padding: 2px 10px !important;
  background-color: var(--primary) !important;
}

.navbar-brand {
  text-decoration: none;
  font-size: 24px !important;
  color: var(--secondary) !important;
}

ul {
  width: 100%;
  justify-content: end;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: var(--secondary) !important;
  border-radius: 10px;
}

.nav-link:hover {
  background-color: var(--primary-accent) !important;
  color: var(--secondary) !important;
  text-decoration: none;
  display: inline-block;
  transform: scale(1.1);
}

.navbar-toggler {
  box-shadow: 1px 1px 2px var(--primary-accent);
  background-color: var(--highlight) !important;
  border-radius: 10px;
  border: none !important;
  padding: 4px 6px !important;
}

.dropdown-toggle {
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary) !important;
}
