.homeHero {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
    url("../../../../public/Assets/homeHeroBackground.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  width: 100vw !important;
  border-radius: 0 !important;
  color: var(--secondary) !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  min-height: 70vh;
  align-items: center;
  text-align: center;
  padding: 10%;
}

.homeHero .button {
  margin-left: auto;
  margin-right: auto;
}

#homeHeading h1 {
  font-size: clamp(2.5rem, 1rem + 4vw, 4rem) !important;
}

.homeHero h2 {
  font-size: clamp(1.75rem, 1rem + 3vw, 2.5rem) !important;
}

#aboutRow {
  background-image: linear-gradient(
    to right,
    var(--primary-accent),
    var(--primary)
  );
  align-items: center;
}

#aboutRow img {
  margin: 1rem;
  scale: 0.8;
}

#skillsRow {
  background-image: linear-gradient(
    to left,
    var(--primary-accent),
    var(--primary)
  );
  align-items: center;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.icon {
  font-size: 2rem;
  color: var(--primary-accent-light);
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.icon p {
  font-size: 1.25rem;
  color: var(--light);
  font-weight: var(--font-weight-semi-bold);
}

#featuredProjectSection {
  background-image: linear-gradient(
    to right,
    var(--primary-accent),
    var(--primary)
  );
  border-radius: 25px;
}

#featuredProjectSection h4 {
  margin-bottom: 1.5rem;
}

#featuredProjectSection img {
  margin: 1rem;
  width: 100%;
}

#featuredProjectDetails {
  background-color: var(--primary-accent);
  border-radius: 25px;
}

#featuredProjectDetails > div {
  margin: 1rem 0;
}

#featuredProjectDetails h4 {
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: underline;
}

#featuredProjectDetails ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Media Queries */

/* Phone Query */
@media screen and (max-width: 767px) {
}

/* Tablet Query */
@media screen and (min-width: 768px) {
}

/* Desktop Query */
@media screen and (min-width: 1024px) {
}
